body {  
  font-family: 'Open Sans', sans-serif;  
  color: #333;  
  margin: 0;  
  padding: 0;  
  background: linear-gradient(to right, #2b2b2b, #595959, #3f335e);  
}

header {  
  background-color: rgba(0, 0, 0, 0.5);  
  padding: 20px;  
  position: sticky;  
  top: 0;  
  z-index: 100;  
}

.header-content {  
  display: flex;  
  justify-content: space-between;  
  align-items: center;  
  flex-wrap: wrap;
}

h1 {  
  color: #f5f5f5;  
  font-size: 2.5em;  
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);  
}

nav ul {  
  list-style-type: none;  
  padding: 0;  
  margin: 0;
}

nav ul li {  
  display: inline;  
  margin: 0 10px;  
}

nav ul li a {  
  text-decoration: none;  
  color: #f5f5f5;  
  font-size: 1.2em;  
}

nav ul li a:hover {  
  color: #007BFF;  
}

.hamburger {
  display: none; /* Hidden by default */
  cursor: pointer;
  height: 2rem;
  position: relative;
  width: 2rem;
}

.hamburger span {
  background-color: #f5f5f5;
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  transition: all 0.5s;
  width: 50%;
}

.hamburger span:nth-child(1) {
  top: calc(50% - 6px);
}

.hamburger span:nth-child(2) {
  top: 50%;
}

.hamburger span:nth-child(3) {
  top: calc(50% + 6px);
}

.hamburger.open span:nth-child(1) {
  transform: translateX(-50%) rotate(45deg);
  top: 50%;
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: translateX(-50%) rotate(-45deg);
  top: 50%;
}

.nav-links {
  display: none; /* Hidden by default */
}

.nav-links.open {
  display: block;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    text-align: center;
  }

  .nav-links li {
    display: block;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 769px) {
  .nav-links {
    display: flex;
    justify-content: space-between;
    width: 60%;
  }
}

footer {  
  background-color: rgba(0, 0, 0, 0.5);  
  color: #f5f5f5;  
  text-align: center;  
  padding: 10px;
  position: fixed;  
  left: 0;  
  bottom: 0;  
  width: 100%;  
}
